/ProtocolDocumentationSmel.synctex.gz
/ProtocolDocumentationSmell.aux
/ProtocolDocumentationSmell.log
/ProtocolDocumentationSmell.out
/ProtocolDocumentationSmell.pdf
/ProtocolDocumentationSmell.synctex.gz
/diff.pdf
/diff.synctex.gz
/LowCodeIssuesEmpirica.synctex.gz
/LowCodeIssuesEmpirical.aux
/LowCodeIssuesEmpirical.log
/LowCodeIssuesEmpirical.out
/LowCodeIssuesEmpirical.pdf
/LowCodeIssuesEmpirical.synctex.gz
/LowCodeTopic.pdf
/LowCodeTopic.synctex.gz
