/opinerTrustVotingRingIEEESW.bbl
/opinerTrustVotingRingIEEESW.blg
/opinercodeIEEESW.bbl
/opinercodeIEEESW.blg
/ProtocolDocumentationSmell.bbl
/ProtocolDocumentationSmell.blg
/RegisteredProtocolSummarizationForDocumentation.aux
/RegisteredProtocolSummarizationForDocumentation.bbl
/RegisteredProtocolSummarizationForDocumentation.blg
/RegisteredProtocolSummarizationForDocumentation.log
/RegisteredProtocolSummarizationForDocumentation.out
/diff.aux
/diff.bbl
/diff.blg
/diff.log
/diff.out
/LowCodeIssuesEmpirical.bbl
/LowCodeIssuesEmpirical.blg
/ProtocolDocumentationSmell.aux
/ProtocolDocumentationSmell.log
/ProtocolDocumentationSmell.out
/LowCodeTopic.aux
/LowCodeTopic.log
/LowCodeTopic.out
/LowCodeTopic.bbl
/LowCodeTopic.blg
